body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #89061C;
    color: #dedede;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #dc0a2d;
    margin: 16px;
    border-radius: 4px;
    padding: 4px;
}

.d-none {
    display: none !important;
}

.no-scroll {
    overflow: hidden;
}

.main-content-wrapper {
    flex:1;
    background-color: #dedede;
    border-radius: 4px;
    margin: 0 16px;
    display: flex;
}

.main-content {
    flex:1;
    margin: 16px;
    border-radius: 4px;
    background-color: #96a875;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
}

#main-content-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

footer {
    background-color: #dc0a2d;
    margin: 16px;
    border-radius: 4px;
    padding: 4px;
}

/* Styling der einzelnen Display-Divs der Pokemon */
.pkm-entry {
    display: flex;
    flex-direction: column;
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.pkm-entry-info {
    display: flex;
}

.pkm-entry-info-left {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.pkm-entry-types {
    display: flex;
    flex-direction: column;
}

.pkm-entry-info img {
    width: 140px;
    height: auto;
}

/* Styling des Overlays */
.modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-card {
    border-radius: 4px;
    background-color: transparent;
}

#modal-top {
    border-radius: 4px 4px 0 0;
    padding: 16px 16px 0;
}

.modal-top-info {
    display: flex;
    justify-content: space-between;
}

#modal-card img {
    width: 280px;
    height: auto;
    position: relative;
    z-index: 1;
}

.modal-bottom {
    border-radius: 8px;
    background-color: #b6aaaa;
    position: relative;
    top: -32px;
    padding: 0 16px 16px;
}

.modal-nav {
    padding: 48px 0 24px;
    display: flex;
    justify-content: space-between;
}


/* Loader */
/* HTML: <div class="loader"></div> */
.loader {
    height: 60px;
    aspect-ratio: 1;
    position: relative;
  }
  .loader::before,
  .loader::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    transform-origin: bottom;
  }
  .loader::after {
    background:
      radial-gradient(at 75% 15%,#fffb,#0000 35%),
      radial-gradient(at 80% 40%,#0000,#0008),
      radial-gradient(circle  5px,#fff 94%,#0000),
      radial-gradient(circle 10px,#000 94%,#0000),
      linear-gradient(#F93318 0 0) top   /100% calc(50% - 5px),
      linear-gradient(#fff    0 0) bottom/100% calc(50% - 5px)
      #000;
    background-repeat: no-repeat;
    animation: l20 1s infinite cubic-bezier(0.5,120,0.5,-120);
  }
  .loader::before {
    /* background:#ddd;
    filter: blur(8px); */
    transform: scaleY(0.4) translate(-13px, 0px);
  }
  @keyframes l20 { 
   30%,70% {transform:rotate(0deg)}
   49.99%  {transform:rotate(0.2deg)}
   50%     {transform:rotate(-0.2deg)}
  }