body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #89061C;
    color: #dedede;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #dc0a2d;
    margin: 16px;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    gap: 12px;
}

.header-logo {
    width: 240px;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 4px;
}

.wrapper-top {
    gap: 24px;
    padding-top: 12px;
}

.wrapper-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 8px 48px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff2045;
    box-shadow: inset -2px -2px 4px 0px rgba(0, 0, 0, 0.4);
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: inset -2px -2px 4px 0px rgba(0, 0, 0, 0.4);
}

.red {
    background-color: #ff2045;
}

.yellow {
    background-color: #ffdf18;
}

.green {
    background-color: #3bc04f;
}

.search {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 12px;
}

#search-input {
    background-color: #51ae5f;
    height: 32px;
    padding: 8px;
    border: 0;
    border-radius: 6px;
    outline: none;
    box-shadow: inset 0px 0px 0px 2px #326d3b;
}

#search-input::placeholder {
    color: #9cdfa6;
}

#search-input:focus {
    box-shadow: inset 0px 0px 0px 2px #dedede;
}

.clear-search {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 0;
    background-color: #232323;
    border: 2px solid #00080d;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: #dedede;
}

.clear-search:hover {
    background-color: #28aafd;
    border: 2px solid #196a9e;
    color: #232323;
    transition: 0.2s;
}

.d-none {
    display: none !important;
}

.no-scroll {
    overflow: hidden;
}

.main-content-wrapper {
    flex: 1;
    background-color: #dedede;
    border-radius: 4px 4px 4px 32px;
    margin: 0 16px;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    margin: 12px 24px 4px;
    border-radius: 4px 4px 4px 32px;
    box-shadow: inset 0px 0px 0px 2px #0f1f3a;
    background-image: url(./assets/img/bg-noisy.png);
    background-repeat: repeat;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
}

#main-content-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

footer {
    background-color: #dc0a2d;
    margin: 16px;
    border-radius: 4px;
    padding: 4px;
}

/* Styling der einzelnen Display-Divs der Pokemon */
.pkm-entry {
    display: flex;
    flex-direction: column;
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.pkm-entry-info {
    display: flex;
}

.pkm-entry-info-left {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.pkm-entry-types {
    display: flex;
    flex-direction: column;
}

.pkm-entry-info img {
    width: 140px;
    height: auto;
}

/* Styling des Overlays */
.modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-card {
    border-radius: 4px;
    background-color: transparent;
}

#modal-top {
    border-radius: 4px 4px 0 0;
    padding: 16px 16px 0;
}

.modal-top-info {
    display: flex;
    justify-content: space-between;
}

#modal-card img {
    width: 280px;
    height: auto;
    position: relative;
    z-index: 1;
}

.modal-bottom {
    border-radius: 8px;
    background-color: #b6aaaa;
    position: relative;
    top: -32px;
    padding: 0 16px 16px;
}

.modal-nav {
    padding: 48px 0 24px;
    display: flex;
    justify-content: space-between;
}


/* Loader */
/* HTML: <div class="loader"></div> */
.loader {
    height: 60px;
    aspect-ratio: 1;
    position: relative;
}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    transform-origin: bottom;
}

.loader::after {
    background:
        radial-gradient(at 75% 15%, #fffb, #0000 35%),
        radial-gradient(at 80% 40%, #0000, #0008),
        radial-gradient(circle 5px, #fff 94%, #0000),
        radial-gradient(circle 10px, #000 94%, #0000),
        linear-gradient(#F93318 0 0) top /100% calc(50% - 5px),
        linear-gradient(#fff 0 0) bottom/100% calc(50% - 5px) #000;
    background-repeat: no-repeat;
    animation: l20 1s infinite cubic-bezier(0.5, 120, 0.5, -120);
}

.loader::before {
    /* background:#ddd;
    filter: blur(8px); */
    transform: scaleY(0.4) translate(-13px, 0px);
}

@keyframes l20 {

    30%,
    70% {
        transform: rotate(0deg)
    }

    49.99% {
        transform: rotate(0.2deg)
    }

    50% {
        transform: rotate(-0.2deg)
    }
}