@font-face {
    font-family: 'Afacad Flux';
    src: url(./assets/fonts/AfacadFlux-VariableFont_slnt\,wght.ttf);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #89061C;
    color: #dedede;
    font-family: 'Afacad Flux';
}

header {
    background-color: #dc0a2d;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: calc(100% - 32px);
    margin: 16px;
}

button {
    font-family: 'Afacad Flux';
}

.d-none {
    display: none !important;
}

.bold {
    font-weight: bold;
}

.no-scroll {
    overflow: hidden;
}

/* Header */
.header-left {
    display: flex;
    gap: 12px;
}

.header-logo {
    width: 240px;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 4px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: inset -2px -2px 4px 0px rgba(0, 0, 0, 0.4);
}

.red {
    background-color: #ff2045;
}

.yellow {
    background-color: #ffdf18;
}

.green {
    background-color: #3bc04f;
}

.search {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 12px;
}

#search-input {
    background-color: #51ae5f;
    color: #dedede;
    font-weight: 600;
    text-transform: uppercase;
    height: 32px;
    padding: 8px;
    border: 0;
    border-radius: 6px;
    outline: none;
    box-shadow: inset 0px 0px 0px 2px #326d3b;
}

#search-input::placeholder {
    color: #9cdfa6;
}

#search-input:focus {
    box-shadow: inset 0px 0px 0px 2px #dedede;
}

.clear-search {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 0;
    background-color: #232323;
    border: 2px solid #00080d;
    font-size: 11px;
    color: #dedede;
    font-weight: 600;
}

.clear-search:hover {
    background-color: #28aafd;
    border: 2px solid #196a9e;
    color: #01041b;
    transition: 0.2s;
    cursor: pointer;
}

/* Main Content */
.main-content-wrapper {
    flex: 1;
    background-color: #dedede;
    border-radius: 4px 4px 4px 32px;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: calc(100% - 32px);
    margin: 0 16px;
}

.wrapper-top {
    gap: 24px;
    padding-top: 12px;
}

.main-content {
    flex: 1;
    margin: 12px 24px 4px;
    border-radius: 4px 4px 4px 32px;
    box-shadow: inset 0px 0px 0px 2px #0f1f3a;
    background-image: url(./assets/img/bg-noisy.png);
    background-repeat: repeat;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
}

#main-content-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.main-content-loading {
    padding: 16px 0 8px;
}

/* Loader */
.loader {
    height: 60px;
    aspect-ratio: 1;
    position: relative;
}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    transform-origin: bottom;
}

.loader::after {
    background:
        radial-gradient(at 75% 15%, #fffb, #0000 35%),
        radial-gradient(at 80% 40%, #0000, #0008),
        radial-gradient(circle 5px, #fff 94%, #0000),
        radial-gradient(circle 10px, #000 94%, #0000),
        linear-gradient(#F93318 0 0) top /100% calc(50% - 5px),
        linear-gradient(#fff 0 0) bottom/100% calc(50% - 5px) #000;
    background-repeat: no-repeat;
    animation: l20 1s infinite cubic-bezier(0.5, 120, 0.5, -120);
}

.loader::before {
    transform: scaleY(0.4) translate(-13px, 0px);
}

@keyframes l20 {

    30%,
    70% {
        transform: rotate(0deg)
    }

    49.99% {
        transform: rotate(0.2deg)
    }

    50% {
        transform: rotate(-0.2deg)
    }
}

.load-more-btn {
    background-color: #28aafd;
    border: 2px solid #196a9e;
    border-radius: 8px;
    color: #dedede;
    padding: 4px 12px;
}

.load-more-btn:hover {
    background-color: #ffcd00;
    border: 2px solid #be9800;
    color: #4d3d00;
    transition: 0.2s;
    cursor: pointer;
}

.wrapper-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 8px 48px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff2045;
    box-shadow: inset -2px -2px 4px 0px rgba(0, 0, 0, 0.4);
}

/* Footer */
footer {
    background-color: #dc0a2d;
    border-radius: 4px;
    padding: 4px;
    max-width: 1440px;
    width: calc(100% - 32px);
    margin: 16px;
}

footer p {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #0f1f3a;
}

footer a:hover {
    color: #ffdf18;
    transition: 0.2s;
}