.modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-card {
    border-radius: 4px;
    background-color: transparent;
    color: #232323;
    max-height: calc(100vh - 8px);
    margin: 4px 0;
}

#modal-top {
    border-radius: 12px 12px 0 0;
    padding: 16px 16px 0;
    width: 280px;
    display: flex;
    flex-direction: column;
}

.modal-top-info {
    display: flex;
    justify-content: space-between;
    height: 124px;
}

#modal-pkm-name {
    font-size: 20px;
    font-weight: 600;
}

#modal-pkm-types {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#modal-pkm-types span {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0.28);
    padding: 2px 4px;
    text-align: center;
    font-size: 14px;
}

#modal-top img {
    width: 220px;
    height: auto;
    position: relative;
    z-index: 1;
    align-self: center;
}

.modal-bottom {
    border-radius: 12px;
    background-color: #dedede;
    position: relative;
    top: -32px;
    padding: 0 16px 16px;
    height: 260px;
    width: 280px;
}

.modal-nav {
    padding: 48px 0 24px;
    display: flex;
    justify-content: space-between;
}

.modal-nav button {
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 16px;
    font-weight: 600;
}

.modal-nav button.focus {
    border-bottom: 2px solid #232323;
}

.modal-nav button:hover {
    border-bottom: 2px solid #196a9e;
    color: #196a9e;
    transition: 0.2s;
    cursor: pointer;
}

#modal-stats {
    display: flex;
    justify-content: center;
}

#modal-stats table {
    width: 100%;
}

#modal-stats img {
    width: 160px;
}

#modal-pkm-abilities span {
    border: 1px solid #232323;
    border-radius: 8px;
    padding: 0 2px 2px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal-buttons button {
    background-color: #dedede;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    padding: 4px 8px;
    font-weight: 500;
}

.modal-buttons button:hover {
    background-color: #196a9e;
    color: #dedede;
    transition: 0.2s;
    cursor: pointer;
}